body { 
  font-family: 'Open Sans' sans-serif;
  margin: 0 ;
  background: #FFFFFF;
}

body { 
    margin: 0; 
  
  } 

a { 
    text-decoration: none; 
  } 
    
    html { 
    box-sizing: border-box; 
  } 
  
  *,
  *::before,
  *::after { 
  box-sizing: inherit;
  }

  .container {
    width: 100%;
    max-width: 1180px;
    max-height: 411;
    margin: 0 auto;
  }

  .header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  header{
    background: #FFFFFF;
    display: flex;
  }

  .header-logo {
    padding-top: 50px;
  }

  .nav-item-list-hidden-marker_small{
    list-style-type: none;
    display: flex;
    width: 136px;
    justify-content: space-between;
    box-sizing: content-box;
    padding-top: 50px;
    font-weight: bold;
  }
  .nav-item-list-hidden-marker{
    list-style-type: none;
    display: flex;
    width: 210px;
    justify-content: space-between;
    box-sizing: content-box;
    padding-top: 50px ;
    }
  .nav-item {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-transform: uppercase;
color:#1E0606 ;
  }

  .footer-nav-list-hidden-marker {
    list-style-type: none;
    position: absolute;
    padding-left: 0%;
width: 158px;
height: 207px;
left: 110px;
top: 174px;
  }

  .customer-info-list-hidden-marker {
    list-style-type: none;
    position: absolute;
    padding-left: 0%;
width: 148px;
height: 207px;
left: 510px;
top: 174px;
  }


  .footer-nav-title {
    font-family: Open Sans;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
position: absolute;
left: 110px;
top: 100px;
color: #AAAAAA;
  }

  .footer-nav-item {
    font-family: Open Sans;
    padding-top: 15px;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
  }
  
.customer-info_title {
  font-family: Open Sans;
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #AAAAAA;
position: absolute;
left: 510px;
top: 100px;
}

.customer-info-item {
  font-family: Open Sans;
  padding-top: 15px;
font-size: 16px;
line-height: 22px;
color:#FFFFFF ;
}

.connect-items-list-hidden-marker{
  list-style-type: none;
}

.connect-title {
  font-family: Open Sans;
font-size: 16px;
line-height: 22px;
position: absolute;
top: 100px;
left: 910px;
color: #AAAAAA;
}

.company-rating-title{
  position: absolute;
  font-family: Open Sans;
  top: 433px;
left: 110px;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
}

.copyright-title {
  position: absolute;
  font-family: Open Sans;
font-size: 16px;
line-height: 22px;
top: 433px;
left: 510px;
color: #FFFFFF;
}

.form-input-connect{
  position: absolute;
width: 380px;
height: 40px;
left: 910px;
top: 171px;
background: #666666;
}

.connect-button_black {
  font-family: Open Sans;
font-weight: bold;
font-size: 16px;
line-height: 22px;
text-transform: uppercase;
background: #000000;
color: white;
position: absolute;
width: 81px;
height: 40px;
left: 1209px;
top: 171px;
}

.connect-items-list-hidden-marker{
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-left: 0%;
  width: 150px;
height: 30px;
left: 911px;
top: 236px;
}

.footer-nav-item-link {
  color: #FFFFFF;
}


